@using WebMVC.Models.Author;
@model AuthorSearchViewModel


<form asp-action="Search" asp-controller="Author" method="get">
    <input type="text" class="input-field" name="query" placeholder="Search authors..." />
    <button type="submit" class="button search-button">Search</button>
</form>