@using WebMVC.Models.Author;
@model AuthorSearchViewModel

<style>
    .button {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
    }

    .search-button {
        background-color: #ff9800;
    }

        .search-button:hover {
            opacity: 0.8;
        }

    .input-field {
        margin-bottom: 10px;
    }
</style>


<form asp-action="Search" asp-controller="Author" method="get">
    <input type="text" class="input-field" name="query" placeholder="Search authors..." />
    <button type="submit" class="button search-button">Search</button>
</form>