@model WebMVC.Models.Author.BasicAuthorViewModel

@{
    ViewBag.Title = "Create Author";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use your layout file here
}

<h2>Create Author</h2>

@using (Html.BeginForm("Create", "Author", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}