@model WebMVC.Models.Author.AuthorListViewModel

@{
    ViewBag.Title = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>

@{
    await Html.RenderPartialAsync("AuthorSearchBox", new WebMVC.Models.Author.AuthorSearchViewModel());
}

@if (User.IsInRole("Admin"))
{
    <div class="author-action-buttons">
        <a href="@Url.Action("Create", "Author")" class="button create-button">Create Author</a>
    </div>
}


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th class="small-border">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
            <tr>
                <td>@author.Name</td>
                <td class="small-border action-buttons">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "Author", new { id = author.Id })" class="button edit-button">Edit</a>
                        @using (Html.BeginForm("Delete", "Author", new { id = author.Id }, FormMethod.Post))
                        {
                            <input type="submit" value="Delete" class="button delete-button" onclick="return confirm('Are you sure?');" />
                        }
                    }
                    <a href="@Url.Action("Details", "Author", new { id = author.Id })" class="button detail-button">Open Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>