@using WebMVC.Models.Genre;
@model GenreListViewModel

@{
    await Html.RenderPartialAsync("GenreSearchBox", new WebMVC.Models.Genre.GenreSearchViewModel());
}

@if (Model.Genres.Any())
{
    @foreach (var item in Model.Genres)
    {
        <h1>@item.Name</h1>
    }
}
else
{
    <p>No genres found.</p>
}
