@{
    ViewData["Title"] = "Home Page";
}

<style>
    .centered-text {
        display: flex; 
        justify-content: center; 
        align-items: center;
        margin-left: 0;
        padding-left: 0; 
    }

    .main-body {
        flex-grow: 1; 
        text-align: center;
        padding: 20px;
    }

    .sidebar {
        flex-basis: 200px;
        flex-shrink: 0;
        padding: 10px;
        margin-left: 10px;
    }

    .display-4 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 20px;
    }

    .title {
        font-size: 5rem;
        color: #333;
        margin-bottom: 20px;
    }

    .navigation-list {
        list-style-type: none;
        padding: 0;
    }

        .navigation-list li {
            margin: 10px 0;
        }

        .navigation-list a {
            text-decoration: none;
            color: #007bff;
            font-size: 1.1rem;
            transition: color 0.3s ease;
        }

            .navigation-list a:hover {
                color: #0056b3;
                text-decoration: underline;
            }

    .section-heading {
        font-size: 1.4rem;
        color: #444;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>


<div class="centered-text">

    <div class="sidebar">
        <ul class="navigation-list">
            <li class="section-heading">Discover</li>
            <li><a href="/Genres">Browse Genres</a></li>
            <li><a href="/Authors">Browse Authors</a></li>
            <li><a href="/Publishers">Browse Publishers</a></li>
            <li><a href="/Books">Browse Books</a></li>

            <li class="section-heading">User Account</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>logged in as @User.Identity.Name</li>
                <li><a href="/Account/Logout">Logout</a></li>
                <li><a href="/PurchaseHistory/CustomerPurchaseHistory">Orders Overview</a></li>
            }
            else
            {
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Account/Login">Login</a></li>
            }
            
            @if (User.IsInRole("Admin"))
            {
                <li class="section-heading">Administration</li>
                <li><a href="/admin">Admin Dashboard</a></li>
            }
            
        </ul>
    </div>

    <div class="main-body">
        <h1 class="display-4">Welcome to Our Website</h1>
        <h1 class="title">BookHub</h1>
        <p>Best place to find and purchase your favorite books</p>
    </div>
   
</div>
