@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Website</h1>
    <p>Quickly navigate to various sections:</p>
    <ul style="list-style-type: none;">
        <li><a href="/">Home</a></li>
        <li><a href="/Home/Privacy">Privacy Policy</a></li>

        <li><a href="/Account/Register">Register</a></li>
        <li><a href="/Account/Login">Login</a></li>
        <li><a href="/Account/Logout">Logout</a></li>
        <li><a href="/Account/LoginSuccess">Login Success</a></li>

        <li><a href="/admin">Admin Dashboard</a></li>
    </ul>
</div>
