@{
    ViewData["Title"] = "Reset Password Successful";
}

<h2>Reset Password Successful</h2>
<p>Your password has been successfully reset.</p>
<p><a href="/Account/Login" class="btn btn-primary">Return to Login</a></p>
