@model WebMVC.Models.Publisher.PublisherListViewModel

@{
    ViewBag.Title = "Publishers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Publishers</h2>



@if (User.IsInRole("Admin"))
{
    <div class="publisher-action-buttons">
        <a href="@Url.Action("Create", "Publisher")" class="button create-button">Create Publisher</a>
    </div>
}


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th class="small-border">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model.Publishers)
        {
            <tr>
                <td>@publisher.Name</td>
                <td class="small-border action-buttons">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "Publisher", new { id = publisher.Id })" class="button edit-button">Edit</a>
                        @using (Html.BeginForm("Delete", "Publisher", new { id = publisher.Id }, FormMethod.Post))
                        {
                            <input type="submit" value="Delete" class="button delete-button" onclick="return confirm('Are you sure?');" />
                        }
                    }
                    else
                    {
                        <p>no actions available</p>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>